@font-face {
    font-family: outfit;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('ttf');
}
@font-face {
    font-family: youngserif;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf) format('ttf');
}


*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}
body{
    font-family: outfit;
}